.cards {
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards {
    padding-bottom: 20px;
  }

  .cards__list {
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
  }
}
