.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  margin: 0;
}

.card__like-btn {
  background: center / cover no-repeat transparent url(..//images/Like.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100;
}

.card__like-btn_active {
  background-image: url(../images/Liked-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  background: center / cover no-repeat transparent url(../images/Delete.png);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/Delete-hover.png);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 20px;
    line-height: 1.2;
  }
}
