.modal {
  display: flex;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal__container {
  width: 100%;
  max-width: 730px;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  gap: 32px;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: center / cover no-repeat url(../images/close.svg);
  opacity: 40%;
  cursor: pointer;
  border: none;
}
.modal__close-btn:hover {
  opacity: 100%;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background: center / cover no-repeat url(../images/close2.svg);
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
  display: block;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
}

.modal__input::placeholder {
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  opacity: 30%;
}

.modal__input:hover {
  border: 1px solid rgb(33, 33, 33);
}

.modal__error {
  display: block;
  margin: 8px 0 0;
  color: red; 
  opacity: 70%;
  font-weight: 500;
  line-height: 1.1;
  font-size: 16px;
  letter-spacing: 0;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  cursor: pointer;
  color: #FCF5E5;
  background-color:#212121;
}

.modal__submit-btn_disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.modal__image-container {
  position: relative;
  border-radius: 8px;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  display: block;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  border-radius: 8px;
  background-color: #212121;
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  padding: 4px 8px;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-size: 16px;
    max-width: 300px;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
