.modal {
  display: flex;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal__container {
  width: 100%;
  max-width: 730px;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  gap: 32px;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: center / cover no-repeat url(../images/close\ icon.svg);
  opacity: 40%;
  cursor: pointer;
  border: none;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  gap: 10px;
  width: 100%;
}

.modal__input::placeholder {
  color: #2121214d;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}
.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  padding: 18px 32px;
  gap: 8px;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__container {
    max-width: 300px;
    padding: 12px;
    gap: 24px;
    margin: auto;
    top: 134px;
    left: 10px;
    border-radius: 8px;
    object-fit: contain;
}
  
  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-size: 16px;
    max-width: 300px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}